.premios{
    width:25px;
    height:25px;
    border-right: 50px solid #d9534f;
    border-top: 20px solid #428bca;
    border-left: 20px solid #f0ad4e;
    border-bottom: 20px solid #5cb85c;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    
    
}