<ion-app>
  <ion-menu side="start" menuId="custom" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <div class="profile">
          <img class="profile-picture" src="https://firebasestorage.googleapis.com/v0/b/chat-c71ab.appspot.com/o/cesa.jpg?alt=media&token=756865db-0d9f-4fa0-b05e-baa34205b805" />
          <h3 class="name">CessApp Menu</h3>
        </div>
      </ion-toolbar>

    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          Mensajes
          <ion-badge slot="end" color="secondary"> 1 </ion-badge>
        </ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <p>todos los derechos reservados</p>
    </ion-footer>
  </ion-menu>


  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>