<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> <b>{{chat.name}}</b> </h2>
        <p>{{chat.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="onLogOut()">
    Desconectarse
  </ion-button>
  <p>https://ionicacademy.com/ionic-4-tabs-side-menu/</p>
</ion-content>